@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto-Slab/Thin/RobotoSlab-Thin.eot');
    src: url('../fonts/Roboto-Slab/Thin/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Slab/Thin/RobotoSlab-Thin.woff') format('woff'),
         url('../fonts/Roboto-Slab/Thin/RobotoSlab-Thin.ttf') format('truetype'),
         url('../fonts/Roboto-Slab/Thin/RobotoSlab-Thin.svg#RobotoSlab') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto-Slab/Light/RobotoSlab-Light.eot');
    src: url('../fonts/Roboto-Slab/Light/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Slab/Light/RobotoSlab-Light.woff') format('woff'),
         url('../fonts/Roboto-Slab/Light/RobotoSlab-Light.ttf') format('truetype'),
         url('../fonts/Roboto-Slab/Light/RobotoSlab-Light.svg#RobotoSlab') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto-Slab/Regular/RobotoSlab-Regular.eot');
    src: url('../fonts/Roboto-Slab/Regular/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Slab/Regular/RobotoSlab-Regular.woff') format('woff'),
         url('../fonts/Roboto-Slab/Regular/RobotoSlab-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Slab/Regular/RobotoSlab-Regular.svg#RobotoSlab') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto-Slab/Regular/RobotoSlab-Regular.eot');
    src: url('../fonts/Roboto-Slab/Regular/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Slab/Regular/RobotoSlab-Regular.woff') format('woff'),
         url('../fonts/Roboto-Slab/Regular/RobotoSlab-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Slab/Regular/RobotoSlab-Regular.svg#RobotoSlab') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto-Slab/Bold/RobotoSlab-Bold.eot');
    src: url('../fonts/Roboto-Slab/Bold/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Slab/Bold/RobotoSlab-Bold.woff') format('woff'),
         url('../fonts/Roboto-Slab/Bold/RobotoSlab-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Slab/Bold/RobotoSlab-Bold.svg#RobotoSlab') format('svg');
    font-weight: 700;
    font-style: normal;
}
